<div ng-controller="questionlistctrl">

    <div class="panel panel-default">

        <div class="panel-heading clearfix">

            <div class="row">

                <div class="col-lg-3">

                    <h4>{{paneltitle}}</h4>

                </div>



            </div>

        </div>



        <div class="panel-body">



            <table class="table table-striped table-hover">

                <thead>

                    <tr>

                        <th style="cursor:pointer">

                            {{questionheader}}



                        </th>

                        <th>

                            {{questiontypeheader}}

                        </th>

                        <th>

                            {{answertypeheader}}

                        </th>

                        <th>

                            {{answerheader}}

                        </th>



                        <th style="cursor:pointer">

                            {{addeddateheader}}

                        </th>

                        <th></th>

                    </tr>

                </thead>

                <tbody>

                    <tr ng-repeat="question in questions" style="cursor:pointer;">


                        <td>
                            {{question.value}}
                            <label ng-show="question.isPrivate" class="label label-danger">Private</label>
                        </td>

                        <td>{{question.correctAnswer | limitTo:20}}<span ng-show="question.correctAnswer.length > 20">...</span></td>

                        <td>{{question.createdOn | date:'short'}}</td>
                        <td>
                            <i class="glyphicon glyphicon-trash" ng-click="deleteQuestion($event, question)"></i>
                            <span ng-show="question.deletingQuestion" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                        </td>

                    </tr>

                </tbody>



            </table>

        </div>

    </div>

</div>