<html>
  <head>
      <title>AngularJS Tutorial</title>
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
      <link rel="stylesheet" href="~/css/site.css" />
      <link rel="stylesheet" href="~/lib/angular-bootstrap/ui-bootstrap-csp.css" />
      <link rel="stylesheet" href="~/lib/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.css" />

  </head>
    
    <body ng-app="quest">
            <div ng-include="'/templates/questions/questionList.html'"></div>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/angular/angular.min.js"></script>

        <script src="~/js/app.js"></script>
    </body>
</html>